@import "tailwindcss";

@theme {
  --color-primary: #4f46e5;
  --color-secondary: #9333ea;
  --color-tertiary: #14b8a6;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  width: 100%;

  @media (width >= 640px) { max-width: 640px; }
  @media (width >= 768px) { max-width: 768px; }
  @media (width >= 1024px) { max-width: 1024px; }
  @media (width >= 1280px) { max-width: 1280px; }
  @media (width >= 1536px) { max-width: 1536px; }
}
